@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}
/*------Header------*/

header {
    text-align: center;
    height: 36px;
    margin-bottom: 15px;
}

/*------Money transfer form ------*/

form {
    background: linear-gradient(to bottom, #E2E1E1, #F3F3F3);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #605F5F;
}

/*------Form card------*/

.form--card, .form-money {
    display: flex;
    justify-content: space-evenly;
    padding: 0 30px;
}

.form--card_data {
    background: #FFF;
    font-size: 10px;
    height: 210px;
    width: 360px;
    position: relative;
    box-sizing: border-box;
    padding:30px 5px 5px 5px;
    margin: 50px 0 0 0;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.40);
}

.form-card_data--details {
    position: absolute;
    bottom: 205px;
    font-size: 14px;
}

.form--card input {
    border: none;
    border-bottom: 1px solid #000;
    font-size: 14px;
    text-align: center;
    outline: 0

}

.form--card_data--logo {
    display: flex;
    justify-content: flex-end;
    position: relative;

}

.card-number {
    margin-left: 16px;
}

.form--card_data--number {
    width: 90%;
    margin: 0 0 30px 16px;
}

.form--card_validity  {
    display: flex;
padding: 0 14px;
}

.text-card {
    flex-grow: 1;
}

.validity {
    width: 50px;
}

.form-money-button {
    padding-top: 10px;
}

.form-money-button_color {
    background: #49924D;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 12px;
    height: 30px;


}

/*------Money entry form------*/

.help, .help-textarea {
    padding: 0 5px;
    margin: 0 10px;


}

.form-money input:not([type="checkbox"]), button{
    width: 100%;
    box-sizing: border-box;
}

.form-money_input {
    width: 360px;
}

.help {
    display: flex;
}

.help-icon {
    padding-left: 3px;
    margin-top: 10px;
}

textarea {
    resize: none
}

/*------Hiden window------*/

#help-card, #help-mail {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.help-window {
    width: 500px;
    height: 300px;
    background-color: #fff;
    background-attachment: unset;
    text-align: center;
    padding: 15px;
    border: 3px solid #49924D;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 2;
    }

.modal-wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    z-index: 100;
}
.overlay {
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
}


#help-card:target {display: block;}
#help-mail:target {display: block;}

/*------Adaptation------*/

@media (min-width : 1200px) {
    .form-card, .form-money, .help, .help-textarea {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}

@media (max-width: 860px) {
    header {
        font-size: 60%;
    }

    .form-card, .form-money, .help, .help-textarea {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .form-money_input {
        width: 100%;
    }

    .textarea {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .help {
        font-size: 80%;
    }
}

@media (max-width: 500px) {
    .help {
        font-size: 50%;
    }
}
